.container
  .mobile
    .content
      .cards
        .title My Cards
        .card-wrapper
          .card.black
            .logo
              .circle.red
              .circle.yellow
            .details
              .number 1234 5678 9876 5432
              .bottom
                .name JOHN WICK
                .expiry 04/24
          .card.violet
            .logo
              .circle.red
              .circle.yellow
            .details
              .number 1234 5678 9876 5432
              .bottom
                .name JOHN WICK
                .expiry 04/24
          .card.blue
            .logo
              .circle.red
              .circle.yellow
            .details
              .number 1234 5678 9876 5432
              .bottom
                .name JOHN WICK
                .expiry 04/24
      .transactions
        .transaction
          .image-wrapper
            i.fab.fa-amazon
          .vendor-details
            .title Amazon
            .description Groceries
          .transaction-details
            .price $28.8
            .date 21.07.2020
        .transaction
          .image-wrapper
            i.fab.fa-uber
          .vendor-details
            .title Uber
            .description Transportation
          .transaction-details
            .price $28.8
            .date 21.07.2020
        .transaction
          .image-wrapper
            i.fab.fa-google-pay
          .vendor-details
            .title Google Pay
            .description Transaction
          .transaction-details
            .price $28.8
            .date 21.07.2020
        .transaction
          .image-wrapper
            i.fab.fa-dribbble
          .vendor-details
            .title Dribbble
            .description Pro account
          .transaction-details
            .price $28.8
            .date 21.07.2020
        .transaction
          .image-wrapper
            i.fab.fa-google-play
          .vendor-details
            .title Google Play
            .description Software
          .transaction-details
            .price $28.8
            .date 21.07.2020
        .transaction
          .image-wrapper
            i.fas.fa-gift
          .vendor-details
            .title Gift
            .description toys
          .transaction-details
            .price $28.8
            .date 21.07.2020
        .transaction
          .image-wrapper
            i.fab.fa-dropbox
          .vendor-details
            .title Dropbox
            .description Software
          .transaction-details
            .price $28.8
            .date 21.07.2020
        .transaction
          .image-wrapper
            i.fab.fa-amazon
          .vendor-details
            .title Amazon
            .description Groceries
          .transaction-details
            .price $28.8
            .date 21.07.2020
        .transaction
          .image-wrapper
            i.fab.fa-uber
          .vendor-details
            .title Uber
            .description Transportation
          .transaction-details
            .price $28.8
            .date 21.07.2020
            